## Importing Libraries

In [18]:
import pandas as pd
import numpy as np
from datetime import datetime

## Loading Dataset

In [19]:
df = pd.read_csv('Intern_Donor_Details.csv')
df.head()

,Partner,Amount (ZAR),Start,End,Requirements,Status,Name,Surname,Email,Total Value,Payment Frequency,Payment Allocations if Different across Yrs,Report Due Dates,HL Contact,HL Email
0,Smith-Jordan,3500699,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,life,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.net
1,Valentine-Hess,1161237,1993-01-03,will,Agency should modern relate level son fall.,Lost,Christopher,Wilson,mmiller@example.com,8573575,Quarterly,Check music forget able identify up case.,Radio less six address improve organization.,piece,jeffreypruitt@example.net
2,"Peters, Kelly and Hines",7934781,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.net,2866860,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.org
3,Cooper Inc,3185201,1992-01-18,1998-03-15,Stay support loss important.,Lost,Julia,Bond,thall@example.org,9240344,Annually,Company difficult side mean shake tough.,Issue attorney much.,say,use
4,"Carter, Horton and Garcia",3260316,2003-03-20,1998-06-27,Might business if research blue one kind.,Lost,Margaret,Suarez,amydrake@example.net,3009164,Monthly,Child everything exactly improve tree food.,Discussion fill knowledge admit.,Michael,marc47@example.net

## Data Inspection

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Partner                                      100 non-null    object
 1   Amount (ZAR)                                 100 non-null    object
 2   Start                                        100 non-null    object
 3   End                                          100 non-null    object
 4   Requirements                                 100 non-null    object
 5   Status                                       100 non-null    object
 6   Name                                         100 non-null    object
 7   Surname                                      100 non-null    object
 8   Email                                        100 non-null    object
 9   Total Value                                  100 non-null    object
 10  Payment Frequency                            100 non-null    object
 11  Payment Allocations if Different across Yrs  100 non-null    object
 12  Report Due Dates                             100 non-null    object
 13  HL Contact                                   100 non-null    object
 14  HL Email                                     100 non-null    object
dtypes: object(15)
memory usage: 11.8+ KB

## Summary statistics for numeric columns

In [21]:
df.describe(include='all')

,Partner,Amount (ZAR),Start,End,Requirements,Status,Name,Surname,Email,Total Value,Payment Frequency,Payment Allocations if Different across Yrs,Report Due Dates,HL Contact,HL Email
count,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100
unique,100,99,99,100,100,2,81,85,100,100,3,100,99,82,100
top,Smith-Jordan,land,2021-01-14,2014-01-16,sit,Won,Michael,Smith,simmonsjudith@example.com,life,Quarterly,Common cover candidate boy.,simply,John,smithdawn@example.net
freq,1,2,2,1,1,50,4,4,1,1,36,1,2,3,1

## Checking for missing values

In [22]:
df.isna().sum()

Partner                                        0
Amount (ZAR)                                   0
Start                                          0
End                                            0
Requirements                                   0
Status                                         0
Name                                           0
Surname                                        0
Email                                          0
Total Value                                    0
Payment Frequency                              0
Payment Allocations if Different across Yrs    0
Report Due Dates                               0
HL Contact                                     0
HL Email                                       0
dtype: int64

## Cleaning Column Names

### Standardizing column name

In [23]:
new_columns = {
    'Partner': 'partner',
    'Amount (ZAR)': 'amount_zar',
    'Start': 'start_date',
    'End': 'end_date',
    'Requirements': 'requirements',
    'Status': 'status',
    'Name': 'first_name',
    'Surname': 'last_name',
    'Email': 'email',
    'Total Value': 'total_value',
    'Payment Frequency': 'payment_frequency',
    'Payment Allocations if Different across Yrs': 'payment_allocations',
    'Report Due Dates': 'report_due_dates',
    'HL Contact': 'hl_contact',
    'HL Email': 'hl_email'
}

df = df.rename(columns=new_columns)

### Verifying new column names

In [24]:
df.columns

Index(['partner', 'amount_zar', 'start_date', 'end_date', 'requirements',
       'status', 'first_name', 'last_name', 'email', 'total_value',
       'payment_frequency', 'payment_allocations', 'report_due_dates',
       'hl_contact', 'hl_email'],
      dtype='object')

## Cleaning Numeric Fields

### Converting amount_zar to numeric

In [25]:
df['amount_zar'] = pd.to_numeric(df['amount_zar'], errors='coerce')

### Converting total_value to numeric

In [26]:
df['total_value'] = pd.to_numeric(df['total_value'], errors='coerce')

### Checking and Removing negative values if any

In [27]:
df['amount_zar'] = df['amount_zar'].abs()
df['total_value'] = df['total_value'].abs()

### Filling missing total_value with amount_zar where possible

In [28]:
df['total_value'] = df['total_value'].fillna(df['amount_zar'])
df.head()

,partner,amount_zar,start_date,end_date,requirements,status,first_name,last_name,email,total_value,payment_frequency,payment_allocations,report_due_dates,hl_contact,hl_email
0,Smith-Jordan,3500699.0,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,3500699.0,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.net
1,Valentine-Hess,1161237.0,1993-01-03,will,Agency should modern relate level son fall.,Lost,Christopher,Wilson,mmiller@example.com,8573575.0,Quarterly,Check music forget able identify up case.,Radio less six address improve organization.,piece,jeffreypruitt@example.net
2,"Peters, Kelly and Hines",7934781.0,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.net,2866860.0,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.org
3,Cooper Inc,3185201.0,1992-01-18,1998-03-15,Stay support loss important.,Lost,Julia,Bond,thall@example.org,9240344.0,Annually,Company difficult side mean shake tough.,Issue attorney much.,say,use
4,"Carter, Horton and Garcia",3260316.0,2003-03-20,1998-06-27,Might business if research blue one kind.,Lost,Margaret,Suarez,amydrake@example.net,3009164.0,Monthly,Child everything exactly improve tree food.,Discussion fill knowledge admit.,Michael,marc47@example.net

### Displaying cleaned numeric fields

In [29]:
df[['amount_zar', 'total_value']].describe()

         amount_zar   total_value
count  9.100000e+01  9.900000e+01
mean   4.807619e+06  4.596217e+06
std    2.871735e+06  2.940738e+06
min    3.392800e+04  1.105100e+04
25%    2.214731e+06  2.122254e+06
50%    4.848410e+06  4.160700e+06
75%    7.453134e+06  6.726866e+06
max    9.987963e+06  9.985106e+06

## Cleaning Date Fields

### Convert dates to datetime format

In [30]:
df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
df.head()

,partner,amount_zar,start_date,end_date,requirements,status,first_name,last_name,email,total_value,payment_frequency,payment_allocations,report_due_dates,hl_contact,hl_email
0,Smith-Jordan,3500699.0,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,3500699.0,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.net
1,Valentine-Hess,1161237.0,1993-01-03,NaT,Agency should modern relate level son fall.,Lost,Christopher,Wilson,mmiller@example.com,8573575.0,Quarterly,Check music forget able identify up case.,Radio less six address improve organization.,piece,jeffreypruitt@example.net
2,"Peters, Kelly and Hines",7934781.0,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.net,2866860.0,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.org
3,Cooper Inc,3185201.0,1992-01-18,1998-03-15,Stay support loss important.,Lost,Julia,Bond,thall@example.org,9240344.0,Annually,Company difficult side mean shake tough.,Issue attorney much.,say,use
4,"Carter, Horton and Garcia",3260316.0,2003-03-20,1998-06-27,Might business if research blue one kind.,Lost,Margaret,Suarez,amydrake@example.net,3009164.0,Monthly,Child everything exactly improve tree food.,Discussion fill knowledge admit.,Michael,marc47@example.net

### Fixing incorrect date ranges

In [31]:
date_mask = df['end_date'] < df['start_date']
df.loc[date_mask, ['start_date', 'end_date']] = np.nan
df.head()

,partner,amount_zar,start_date,end_date,requirements,status,first_name,last_name,email,total_value,payment_frequency,payment_allocations,report_due_dates,hl_contact,hl_email
0,Smith-Jordan,3500699.0,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,3500699.0,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.net
1,Valentine-Hess,1161237.0,1993-01-03,NaT,Agency should modern relate level son fall.,Lost,Christopher,Wilson,mmiller@example.com,8573575.0,Quarterly,Check music forget able identify up case.,Radio less six address improve organization.,piece,jeffreypruitt@example.net
2,"Peters, Kelly and Hines",7934781.0,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.net,2866860.0,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.org
3,Cooper Inc,3185201.0,1992-01-18,1998-03-15,Stay support loss important.,Lost,Julia,Bond,thall@example.org,9240344.0,Annually,Company difficult side mean shake tough.,Issue attorney much.,say,use
4,"Carter, Horton and Garcia",3260316.0,NaT,NaT,Might business if research blue one kind.,Lost,Margaret,Suarez,amydrake@example.net,3009164.0,Monthly,Child everything exactly improve tree food.,Discussion fill knowledge admit.,Michael,marc47@example.net

### Displaying date ranges

In [32]:
print("Date Range Issues Fixed:", date_mask.sum())
df[['start_date', 'end_date']].describe()

Date Range Issues Fixed: 45

                          start_date                       end_date
count                             49                             41
mean   1988-03-07 23:30:36.734693888  2002-11-30 14:38:02.926829312
min              1970-09-10 00:00:00            1973-07-11 00:00:00
25%              1975-05-03 00:00:00            1992-06-14 00:00:00
50%              1983-07-18 00:00:00            2001-10-19 00:00:00
75%              2000-03-31 00:00:00            2016-11-20 00:00:00
max              2022-09-25 00:00:00            2024-11-01 00:00:00

## Cleaning Text Fields

### Standardizing status

In [33]:
df['status'] = df['status'].str.title()
df.head()

,partner,amount_zar,start_date,end_date,requirements,status,first_name,last_name,email,total_value,payment_frequency,payment_allocations,report_due_dates,hl_contact,hl_email
0,Smith-Jordan,3500699.0,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,3500699.0,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.net
1,Valentine-Hess,1161237.0,1993-01-03,NaT,Agency should modern relate level son fall.,Lost,Christopher,Wilson,mmiller@example.com,8573575.0,Quarterly,Check music forget able identify up case.,Radio less six address improve organization.,piece,jeffreypruitt@example.net
2,"Peters, Kelly and Hines",7934781.0,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.net,2866860.0,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.org
3,Cooper Inc,3185201.0,1992-01-18,1998-03-15,Stay support loss important.,Lost,Julia,Bond,thall@example.org,9240344.0,Annually,Company difficult side mean shake tough.,Issue attorney much.,say,use
4,"Carter, Horton and Garcia",3260316.0,NaT,NaT,Might business if research blue one kind.,Lost,Margaret,Suarez,amydrake@example.net,3009164.0,Monthly,Child everything exactly improve tree food.,Discussion fill knowledge admit.,Michael,marc47@example.net

### Cleaning First and Last Names

In [34]:
invalid_names = ['', 'Unknown', 'N/A', None]

df.loc[df['first_name'].isin(invalid_names), 'first_name'] = np.nan
df.loc[df['last_name'].isin(invalid_names), 'last_name'] = np.nan
df.head()

,partner,amount_zar,start_date,end_date,requirements,status,first_name,last_name,email,total_value,payment_frequency,payment_allocations,report_due_dates,hl_contact,hl_email
0,Smith-Jordan,3500699.0,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,3500699.0,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.net
1,Valentine-Hess,1161237.0,1993-01-03,NaT,Agency should modern relate level son fall.,Lost,Christopher,Wilson,mmiller@example.com,8573575.0,Quarterly,Check music forget able identify up case.,Radio less six address improve organization.,piece,jeffreypruitt@example.net
2,"Peters, Kelly and Hines",7934781.0,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.net,2866860.0,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.org
3,Cooper Inc,3185201.0,1992-01-18,1998-03-15,Stay support loss important.,Lost,Julia,Bond,thall@example.org,9240344.0,Annually,Company difficult side mean shake tough.,Issue attorney much.,say,use
4,"Carter, Horton and Garcia",3260316.0,NaT,NaT,Might business if research blue one kind.,Lost,Margaret,Suarez,amydrake@example.net,3009164.0,Monthly,Child everything exactly improve tree food.,Discussion fill knowledge admit.,Michael,marc47@example.net

### Cleaning Emails

In [35]:
df['email'] = df['email'].where(df['email'].str.contains('@', na=False), np.nan)
df['hl_email'] = df['hl_email'].where(df['hl_email'].str.contains('@', na=False), np.nan)
df.head()

,partner,amount_zar,start_date,end_date,requirements,status,first_name,last_name,email,total_value,payment_frequency,payment_allocations,report_due_dates,hl_contact,hl_email
0,Smith-Jordan,3500699.0,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,3500699.0,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.net
1,Valentine-Hess,1161237.0,1993-01-03,NaT,Agency should modern relate level son fall.,Lost,Christopher,Wilson,mmiller@example.com,8573575.0,Quarterly,Check music forget able identify up case.,Radio less six address improve organization.,piece,jeffreypruitt@example.net
2,"Peters, Kelly and Hines",7934781.0,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.net,2866860.0,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.org
3,Cooper Inc,3185201.0,1992-01-18,1998-03-15,Stay support loss important.,Lost,Julia,Bond,thall@example.org,9240344.0,Annually,Company difficult side mean shake tough.,Issue attorney much.,say,NaN
4,"Carter, Horton and Garcia",3260316.0,NaT,NaT,Might business if research blue one kind.,Lost,Margaret,Suarez,amydrake@example.net,3009164.0,Monthly,Child everything exactly improve tree food.,Discussion fill knowledge admit.,Michael,marc47@example.net

In [36]:
df['email'] = df['email'].str.replace(r'\.\w+$', '.com', regex=True)
df['hl_email'] = df['hl_email'].str.replace(r'\.\w+$', '.com', regex=True)

### Standardizing payment frequency column

In [37]:
valid_frequencies = ['Monthly', 'Quarterly', 'Annually']
df['payment_frequency'] = df['payment_frequency'].where(
    df['payment_frequency'].isin(valid_frequencies), np.nan)

### Cleaning requirements field

In [38]:
df['requirements'] = df['requirements'].replace(
    to_replace=r'^[A-Z][a-z]+\s[A-Z][a-z]+\.$', value=np.nan, regex=True)

### Display cleaned text fields

In [39]:
text_fields = ['status', 'first_name', 'last_name', 'email', 'payment_frequency']
df[text_fields].head(10)

  status   first_name last_name                       email payment_frequency
0    Won      Matthew    Larson   simmonsjudith@example.com          Annually
1   Lost  Christopher    Wilson         mmiller@example.com         Quarterly
2    Won    Stephanie  Alvarado          juan52@example.com           Monthly
3   Lost        Julia      Bond           thall@example.com          Annually
4   Lost     Margaret    Suarez        amydrake@example.com           Monthly
5   Lost       Edward   Pearson       acostaray@example.com           Monthly
6    Won      Michael   Carlson                         NaN          Annually
7   Lost         book      here  benitezmatthew@example.com         Quarterly
8   Lost    Christian      Horn         emily35@example.com         Quarterly
9    Won      Gregory    Howard    jacqueline17@example.com           Monthly

## Handling Missing Data

### Missing Values Count

In [40]:
print("Missing Values Before Cleaning:")
print(df.isna().sum())

Missing Values Before Cleaning:
partner                 0
amount_zar              9
start_date             51
end_date               59
requirements            0
status                  0
first_name              0
last_name               0
email                   9
total_value             1
payment_frequency       0
payment_allocations     0
report_due_dates        0
hl_contact              0
hl_email               11
dtype: int64

### Dropping rows missing important data

In [41]:
critical_cols = ['partner', 'amount_zar', 'start_date', 'status']
df = df.dropna(subset=critical_cols, how='any')

### Filling missing values

In [42]:
df = df.replace('Unknown', np.nan).dropna()
df.reset_index(drop=True, inplace=True)
df.head()

,partner,amount_zar,start_date,end_date,requirements,status,first_name,last_name,email,total_value,payment_frequency,payment_allocations,report_due_dates,hl_contact,hl_email
0,Smith-Jordan,3500699.0,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,3500699.0,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.com
1,"Peters, Kelly and Hines",7934781.0,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.com,2866860.0,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.com
2,"Burgess, Zimmerman and Ortega",7219028.0,1971-02-18,1997-11-17,Condition prevent stop if maintain.,Lost,Edward,Pearson,acostaray@example.com,5753699.0,Monthly,Wind how human them party better.,Land understand town instead task talk enjoy.,Danny,lori70@example.com
3,Blevins-Yoder,1988543.0,1975-05-03,1976-07-16,National forget author.,Won,Robert,Zimmerman,youngstacey@example.com,3848339.0,Quarterly,Generation education force wide candidate thou...,Group area education.,Roy,clucero@example.com
4,Bush Group,9060893.0,1976-07-17,2014-07-21,Audience over month.,Won,April,Vega,woodroberto@example.com,8611469.0,Quarterly,Food move say control property realize task ma...,Past cold shoulder office begin whom art when.,Danielle,timothy21@example.com

### Missing values count after cleaning

In [43]:
print("\nMissing Values After Cleaning:")
print(df.isna().sum())

Missing Values After Cleaning:
partner                0
amount_zar             0
start_date             0
end_date               0
requirements           0
status                 0
first_name             0
last_name              0
email                  0
total_value            0
payment_frequency      0
payment_allocations    0
report_due_dates       0
hl_contact             0
hl_email               0
dtype: int64

## Data Validation

### Validating numeric fields

In [44]:
assert (df['amount_zar'] >= 0).all()
assert (df['total_value'] >= 0).all()

### Validating date ranges

In [45]:
valid_dates = df[['start_date', 'end_date']].dropna()

valid_dates['end_date'] = pd.to_datetime(valid_dates['end_date'], errors='coerce')

valid_dates = valid_dates.dropna(subset=['end_date'])
if not valid_dates.empty:
    assert (valid_dates['end_date'] >= valid_dates['start_date']).all()

### Validating statue values

In [46]:
assert set(df['status'].unique()) <= {'Won', 'Lost'}
print("All validation checks passed!")

All validation checks passed!

In [47]:
df.head()

,partner,amount_zar,start_date,end_date,requirements,status,first_name,last_name,email,total_value,payment_frequency,payment_allocations,report_due_dates,hl_contact,hl_email
0,Smith-Jordan,3500699.0,1990-09-25,2014-01-16,sit,Won,Matthew,Larson,simmonsjudith@example.com,3500699.0,Annually,Common cover candidate boy.,Arrive avoid final then.,Jimmy,smithdawn@example.com
1,"Peters, Kelly and Hines",7934781.0,1971-03-11,1973-07-11,Drug finally above PM.,Won,Stephanie,Alvarado,juan52@example.com,2866860.0,Monthly,Already its other one bar white sign.,Whom money any.,Christina,pamela01@example.com
2,"Burgess, Zimmerman and Ortega",7219028.0,1971-02-18,1997-11-17,Condition prevent stop if maintain.,Lost,Edward,Pearson,acostaray@example.com,5753699.0,Monthly,Wind how human them party better.,Land understand town instead task talk enjoy.,Danny,lori70@example.com
3,Blevins-Yoder,1988543.0,1975-05-03,1976-07-16,National forget author.,Won,Robert,Zimmerman,youngstacey@example.com,3848339.0,Quarterly,Generation education force wide candidate thou...,Group area education.,Roy,clucero@example.com
4,Bush Group,9060893.0,1976-07-17,2014-07-21,Audience over month.,Won,April,Vega,woodroberto@example.com,8611469.0,Quarterly,Food move say control property realize task ma...,Past cold shoulder office begin whom art when.,Danielle,timothy21@example.com

## Cleaned Dataset

In [48]:
df.to_csv('Cleaned_Intern_Donor_Details.csv', index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!